.Main {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}